{% extends "base.html" %}
{% block content %}
<h2 class="mb-3">New Artefact</h2>
<form method="post" class="card shadow-sm p-3">
  <div class="mb-3">
    <label class="form-label">Name *</label>
    <input class="form-control" name="name" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea class="form-control" name="description"></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label">Material</label>
    <input class="form-control" name="material">
  </div>
  <div class="mb-3">
    <label class="form-label">Acquisition Date (YYYY-MM-DD)</label>
    <input class="form-control" name="acquisition_date" placeholder="2026-01-09">
  </div>
  <button class="btn btn-primary" type="submit">Create</button>
</form>
{% endblock %}
